

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home</title>
    <link href="../static/covidTracker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
  </head>
  <body class="background">
       <!-- navbar -->
     <div class="bs-example">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a href="#" class="navbar-brand">
                   Sprayer Application
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">

                    </div>
                   
                    <div class="navbar-nav ml-auto">                           
                            <a href="/" class="nav-item nav-link">Home</a>
                            <a href="http://localhost:5000/login" class="nav-item nav-link">Login</a>                 
                    </div>

                </div>
            </nav>
        </div>

            {% set numOfCrops = cropIdList | int %}
            {% set numOfWeeds = weedIdList | int %}
            <div class="login-form">
            <form action= "http://localhost:5000/add/spray" method = 'POST'> 
                <h2 class="text">Spray</h2>
                <div>
                  <input type="text" name="spray" id="type" class="form-control" placeholder="Spray name">
                  <label for="price">Cost</label>
                  <input type="number" class="form-control" name="price" id="price" value="10" min="0.1" step="0.001" >
                </div>
                <h2 class="text">Crops</h2> 
                {%for i in range(1,numOfCrops+1)%}
                  {% if i != 1 %}
                    <style>#cropdiv{{i}} {
                        display : none;
                    }</style>
                  {% endif %}
                  
                  <div class="form-group" id="cropdiv{{i}}" >
                    <label >Crop: {{i}}</label>
                    {% if i == 1 %}
                      <input list="crop{{i}}s" class="form-control"  name="crop{{i}}" id="crop{{i}}" value="{{crops[0]}}" autocomplete="on">
                      <label> Pints Per Acre </label>
                      <input type="number" class="form-control" name="cropPPA{{i}}" id="cropPPA{{i}}" value="10" min="0.1" step="0.001" >
                    {%else%}
                      <input list="crop{{i}}s"  class="form-control" name="crop{{i}}" id="crop{{i}}" value="none" autocomplete="on" >
                      <input type="number" class="form-control" name="cropPPA{{i}}" id="cropPPA{{i}}" value="none" min="0.1" step="0.001" >
                    {%endif%}
                    
                    <datalist  id="crop{{i}}s" class="form-select" >
                      {% if i != 1%}
                        <option value="none">None</option>
                      {%endif%}
                      {% for crop in crops %}                        
                        <option value="{{crop}}">                        
                      {% endfor %}
                    </datalist>
                  {% if i< numOfCrops %}
                    <button type="button" class="btn btn-secondary" id="cropBtn{{i}}" onclick="showNext('cropdiv{{i+1}}','cropBtn{{i}}')">Add another</button>
                  {%endif%}
                  </div>
                {% endfor %}


                <h2 class="text">Weeds</h2> 
                {%for i in range(1,numOfWeeds+1)%}
                  {% if i != 1 %} 
                    <style>#weeddiv{{i}} {
                        display : none;
                    }</style>
                  {% endif %}
                  
                  <div class="form-group" id="weeddiv{{i}}" >
                    <label >Weed: {{i}}</label>
                    {% if i == 1 %}
                      <input list="weed{{i}}s" class="form-control"  name="weed{{i}}" id="weed{{i}}" value="{{weeds[0]}}" autocomplete="on">
                    {%else%}
                      <input list="weed{{i}}s"  class="form-control" name="weed{{i}}" id="weed{{i}}" value="none" autocomplete="on" >
                    {%endif%}
                    
                    <datalist  id="weed{{i}}s" class="form-select" >
                      {% if i != 1%}
                        <option value="none">None</option>
                      {%endif%}
                      {% for weed in weeds %}                        
                        <option value="{{weed}}">                        
                      {% endfor %}
                    </datalist>
                  {% if i< numOfWeeds %}
                    <button type="button" class="btn btn-secondary" id="weedBtn{{i}}" onclick="showNext('weeddiv{{i+1}}','weedBtn{{i}}')">Add another</button>
                  {% endif %}
                  </div>
                {% endfor %}
                <h2 class="text">Alternative File Upload</h2>
                <div class="form-group">
                  <label for="formFile" class="form-label mt-4">Spray Excel Sheet Upload</label>
                  <input class="form-control" type="file" id="formFile">
                </div>
                <div class="form-group">
                    <button type="submit" value ="Submit" class="btn btn-primary">Add Spray</button>
                </div>                    
            </form>  
          </div> 
         
          <script>
            function showNext(divId,btnId) {
              var nextdiv = document.getElementById(divId);
              nextdiv.style.display = "block";
              var btn = document.getElementById(btnId);
              btn.style.display = "none"
            }
            </script>

<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


  </body>
</html>