<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
    <link href="../static/covidTracker.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <link href="../static/covidTracker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
  </head>
  <body class="background">
     <!-- navbar -->
    <div class="bs-example">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a id ="navLogoText" href="#" class="navbar-brand">
                  Sprayer Application
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        

                    </div>
                    <div class="navbar-nav ml-auto">
                            <a  href="/" class="nav-item nav-link">Home</a>
                             <div class="navbar-nav ml-auto">                                      
                            
                    </div>
                </div>
            </nav>
        </div>
        <!-- endNavbar -->


    <div class="login-form">
            <form action= "http://localhost:5000/validateLogin" method = 'post'>
                <h2 class="text-center">Log in</h2>       
                <div class="form-group">
                    <input type="text" name = "username" onclick="messageOff()" class="form-control" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input type="password" onclick="messageOff()" name ="password" class="form-control" placeholder="Password" required="required">
                </div>
                {% if invalid %}
                     <div id = "errorMessage">Username or password is incorrect</div>
                {% endif %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
                <div class="clearfix">
                    <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                </div>        
            </form>
        </div>
     
     
   </div>  
   
      <!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
      <script src ="../static/passwordMatch.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
       integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
      crossorigin="anonymous"></script>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
      crossorigin="anonymous"></script>
  </body>
  </html>                            
  </body>
</html>