<!-- 

-->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home</title>
    <link href="../static/covidTracker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
  </head>
  <body class="background">
       <!-- navbar -->
     <div class="bs-example">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a href="#" class="navbar-brand">
                   Sprayer Application
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">

                    </div>
                   
                    <div class="navbar-nav ml-auto">                           
                            <a href="/Login" class="nav-item nav-link">Login</a>
                    
                    </div>

                </div>
            </nav>
        </div>
        {% set numOfWeeds = weedIdList | int %}
        <div class="login-form">
        <form action= "http://localhost:5000/spray" method = 'POST'> 
          <h2 class="text">Weeds</h2> 
          {%for i in range(1,numOfWeeds+1)%}
            {% if i != 1 %} 
              <style>#weeddiv{{i}} {
                  display : none;
              }</style>
            {% endif %}
            
            <div class="form-group" id="weeddiv{{i}}" >
              <label >Weed: {{i}}</label>
              {% if i == 1 %}
                <input list="weed{{i}}s" class="form-control"  name="weed{{i}}" id="weed{{i}}" value="{{weeds[0]}}" autocomplete="on">
              {%else%}
                <input list="weed{{i}}s"  class="form-control" name="weed{{i}}" id="weed{{i}}" value="none" autocomplete="on" >
              {%endif%}
              
              <datalist  id="weed{{i}}s" class="form-select" >
                {% if i != 1%}
                  <option value="none">None</option>
                {%endif%}
                {% for weed in weeds %}                        
                  <option value="{{weed}}">                        
                {% endfor %}
              </datalist>
            {% if i< numOfWeeds %}
              <button type="button" class="btn btn-secondary" id="weedBtn{{i}}" onclick="showNext('weeddiv{{i+1}}','weedBtn{{i}}')">Add another</button>
            {% endif %}
            </div>
          {% endfor %}

            <div class="form-group">
                <button type="submit" value ="Submit" class="btn btn-primary">Get Suggestions</button>
            </div>                     
        </form>  
      </div> 
         
          <script>
            function showNext(divId,btnId) {
              var nextdiv = document.getElementById(divId);
              nextdiv.style.display = "block";
              var btn = document.getElementById(btnId);
              btn.style.display = "none"
            }
            </script>
          <script>
            // Find all inputs on the DOM which are bound to a datalist via their list attribute.
                var inputs = document.querySelectorAll('input[list]');
                for (var i = 0; i < inputs.length; i++) {
                // When the value of the input changes...
                inputs[i].addEventListener('change', function() {
                var optionFound = false,
                datalist = this.list;
                // Determine whether an option exists with the current value of the input.
                for (var j = 0; j < datalist.options.length; j++) {
                if (this.value == datalist.options[j].value) {
                optionFound = true;
                break;
                }
                }
                // use the setCustomValidity function of the Validation API
                // to provide an user feedback if the value does not exist in the datalist
                if (optionFound) {
                this.setCustomValidity('');
                } else {
                this.setCustomValidity('Please select a valid value.');
                }
                });
                }
          </script>

<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


  </body>
</html>